.Display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 632px;
    border-radius: 30px;
    background-color: #2C2C2C;
}

.mobile-screen {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 597px;
    width: 280px;
    overflow: hidden;
    background-color: #ffffff99;
    border-radius: 30px;
}

.mobile-screen .buttons {
    display: flex;
    position: relative;
    justify-content: center;
    place-items: center;
    margin: 1.5rem 1rem;
}

.buttons button {
    height: 34px;
    width: 73px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    border: none;
}

.mobile-screen .buttons.center {
    margin-left: 50%;
    transform: translateX(-2rem);
}

.tooltip {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    text-align: center;
    z-index: 2;
    word-wrap: break-word;
}

.tooltip[button='Button3'][position='Bottom'] {
    top: 3rem;
}

.tooltip[button='Button3'][position='Left'] {
    right: 5rem;
}

.tooltip[button='Button3'][position='Right'] {
    left: 5rem;
}

.tooltip[button='Button3'][position='Top'] {
    bottom: 3rem;
}

.tooltip[button='Button1'][position='Left'],
.tooltip[button='Button1'][position='Right'] {
    top: 0rem;
    left: 5rem;
}
.tooltip[button='Button1'][position='Top'],
.tooltip[button='Button1'][position='Bottom'] {
    top: 2.8rem;
    left: 0rem;
}

.tooltip[button='Button4'][position='Left'],
.tooltip[button='Button4'][position='Right'] {
    bottom: 0rem;
    left: 5rem;
}

.tooltip[button='Button2'][position='Left'],
.tooltip[button='Button2'][position='Right'] {
    top: 0rem;
    right: 5rem;
}

.tooltip[button='Button5'][position='Left'],
.tooltip[button='Button5'][position='Right'] {
    bottom: 0rem;
    right: 5rem;
}

.tooltip[button='Button2'][position='Top'],
.tooltip[button='Button2'][position='Bottom'] {
    top: 2.9rem;
    right: 0rem;
}

.tooltip[button='Button4'][position='Top'],
.tooltip[button='Button4'][position='Bottom'] {
    left: 0rem;
    bottom: 2.8rem;
}

.tooltip[button='Button5'][position='Top'],
.tooltip[button='Button5'][position='Bottom'] {
    right: 0rem;
    bottom: 2.8rem;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: calc(var(--arrow-width) / 2) solid transparent;
    border-right: calc(var(--arrow-width) / 2) solid transparent;
    border-bottom: var(--arrow-height) solid var(--arrow-background);
    border-top: var(--arrow-height) solid transparent;
}

.tooltip[arrowDirection='Top'] .tooltip-arrow {
    border-top: var(--arrow-height) solid transparent; 
    border-bottom: var(--arrow-height) solid var(--arrow-background);
    bottom: 100%;
  }
  
  .tooltip[arrowDirection='Bottom'] .tooltip-arrow {
    border-bottom: var(--arrow-height) solid transparent; 
    border-top: var(--arrow-height) solid var(--arrow-background);
    top: 100%;
  }
  
  .tooltip[arrowDirection='Left'] .tooltip-arrow {
    border-bottom: var(--arrow-width) solid transparent;
    border-right: var(--arrow-width) solid var(--arrow-background);
    right: 100%;
  }
  
  .tooltip[arrowDirection='Right'] .tooltip-arrow {
    border-left: var(--arrow-width) solid var(--arrow-background);
    border-bottom: var(--arrow-width) solid transparent;
    left: 100%;
  }