
.input-box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
}

.input-box.full {
    width: 100%;
}

@media (max-width: 564px) {
    .input-box {
        width: 100%;
    }
}